<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Protected Page</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <script th:src="@{/js/script.js}"></script>
    <th:block th:insert="~{fragments/common :: head('StudyGroup Visualization')}"></th:block>
</head>
<body>
<div th:replace="~{fragments/common :: menu}"></div>
<h1>Admin Page</h1>


<div style="text-align: center;">
    <h2>Admin role requests</h2>
    <table style="margin: 0 auto">
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Approve</th>
        </tr>
        <tr th:each="user : ${requests}">
            <td th:text="${user.id}">Username</td>
            <td th:text="${user.username}">Username</td>
            <td>
                <form th:onsubmit="event.preventDefault(); approveAdminRequest([[${user.id}]], this)">
                    <button type="submit">Approve</button>
                </form>
            </td>
        </tr>
    </table>
</div>


</body>
<script text="javascript">
    function approveAdminRequest(userId, button) {
    fetch('/admin/approves', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `userId=${userId}`
    })
    .then(response => {
        if (response.ok) {
            fetch('/admin/approves')
                .then(response => response.text())
                .then(html => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');
                    const newTable = doc.querySelector('table');
                    const currentTable = document.querySelector('table');
                    currentTable.innerHTML = newTable.innerHTML;
                });

            Toastify({
                text: "Запрос успешно одобрен!",
                duration: 3000,
                gravity: "top",
                position: "right",
                style: {
                    background: "#4CAF50"
                }
            }).showToast();
        } else {
            throw new Error('Что-то пошло не так');
        }
    })
    .catch(error => {
        Toastify({
            text: "Ошибка при обработке запроса",
            duration: 3000,
            gravity: "top",
            position: "right",
            style: {
                background: "#f44336"
            }
        }).showToast();
    });
}
</script>
</html>