<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create or Edit Study Group</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/create-edit.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/form-persistence.js}"></script>
    <th:block th:insert="~{fragments/common :: head('StudyGroup Visualization')}"></th:block>
</head>
<body>
<div th:replace="~{fragments/common :: menu}"></div>
    
<h1 th:text="'Create/Edit page'"/>
<div class="container">
    <div class="form1">
        <form class="main-form" th:action="@{${studyGroup.id != 0} ? '/user/group/edit/' + ${studyGroup.id} : '/user/group/create'}" th:object="${studyGroup}" method="post">
            <h2 style="text-align:center" th:if="${studyGroup.id == 0}" >Create study group</h2>
            <h2 style="text-align:center"
                th:if="${studyGroup != null && studyGroup.id != 0}"
                th:text="'Edit study group with ID ' + ${studyGroup.id}"></h2>
            <!-- Name -->
            <div>
                <label for="name1">Name</label>
                <input type="text" id="name1" th:field="*{name}" />
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-errors"></div>
            </div>

            <!-- Coordinates -->
            <div>
                <label for="x">Coordinate X</label>
                <input type="number" id="x" th:field="*{coordinates.x}" />
                <div th:if="${#fields.hasErrors('coordinates.x')}" th:errors="*{coordinates.x}" class="form-errors"></div>
            </div>
            <div>
                <label for="y">Coordinate Y</label>
                <input type="number" id="y" th:field="*{coordinates.y}" />
                <div th:if="${#fields.hasErrors('coordinates.y')}" th:errors="*{coordinates.y}" class="form-errors"></div>
            </div>

            <!-- Students Count -->
            <div>
                <label for="studentsCount">Students Count</label>
                <input type="number" id="studentsCount" th:field="*{studentsCount}" />
                <div th:if="${#fields.hasErrors('studentsCount')}" th:errors="*{studentsCount}" class="form-errors"></div>
            </div>

            <!-- Expelled Students -->
            <div>
                <label for="expelledStudents">Expelled Students</label>
                <input type="number" id="expelledStudents" th:field="*{expelledStudents}" />
                <div th:if="${#fields.hasErrors('expelledStudents')}" th:errors="*{expelledStudents}" class="form-errors"></div>
            </div>

            <!-- Transferred Students -->
            <div>
                <label for="transferredStudents">Transferred Students</label>
                <input type="number" id="transferredStudents" th:field="*{transferredStudents}" />
                <div th:if="${#fields.hasErrors('transferredStudents')}" th:errors="*{transferredStudents}" class="form-errors"></div>
            </div>

            <!-- Form of Education -->
            <div>
                <label for="formOfEducation">Form of Education</label>
                <select id="formOfEducation" th:field="*{formOfEducation}">
                    <option th:each="form : ${formOfEducationEnum}" th:value="${form}" th:text="${form}"></option>
                </select>
                <div th:if="${#fields.hasErrors('formOfEducation')}" th:errors="*{formOfEducation}" class="form-errors"></div>
            </div>

            <!-- Should Be Expelled -->
            <div>
                <label for="shouldBeExpelled">Should Be Expelled</label>
                <input type="number" id="shouldBeExpelled" th:field="*{shouldBeExpelled}" />
                <div th:if="${#fields.hasErrors('shouldBeExpelled')}" th:errors="*{shouldBeExpelled}" class="form-errors"></div>
            </div>

            <!-- Average Mark -->
            <div>
                <label for="averageMark">Average Mark</label>
                <input type="number" step="0.01" id="averageMark" th:field="*{averageMark}" />
                <div th:if="${#fields.hasErrors('averageMark')}" th:errors="*{averageMark}" class="form-errors"></div>
            </div>

            <!-- Semester -->
            <div>
                <label for="semesterEnum">Semester</label>
                <select id="semesterEnum" th:field="*{semesterEnum}">
                    <option th:each="semester : ${semesterEnum}" th:value="${semester}" th:text="${semester}"></option>
                </select>
                <div th:if="${#fields.hasErrors('semesterEnum')}" th:errors="*{semesterEnum}" class="form-errors">
                </div>
            </div>

            <div>
                <label for="adminID">ID</label>
                <input type="text" id="adminID" th:field="*{groupAdmin}" />
                <div th:if="${#fields.hasErrors('groupAdmin')}" th:errors="*{groupAdmin}" class="form-errors"></div>
                <p th:if="${customPassportError != null}" th:text="${customPassportError}" class="form-errors"></p>
            </div>
            <label th:if="${studyGroup.id == 0}">
                <input type="checkbox" th:field="*{canBeChanged}">
                Can be changed
            </label>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="right-side">
        <div class="form2">
            <!-- Group Admin -->
            <form class="main-form" th:action="@{${person.id != null} ? '/user/people/edit/' + ${person.id} : '/user/people/create'}" th:object="${person}" method="post">
                <h2 style="text-align:center" th:if="${person.id == null}" >Create person</h2>
                <h2 style="text-align:center"
                    th:if="${person.id != null && person.id != 0}"
                    th:text="'Edit person with ID ' + ${person.id}"></h2>

                <!-- Name -->
                <div>
                    <label for="adminName">Admin Name</label>
                    <input type="text" id="adminName" th:field="*{name}" />
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-errors"></div>
                </div>

                <!-- Passport ID -->
                <div>
                    <label for="newPassportID">Passport ID</label>
                    <input type="text" id="newPassportID" th:field="*{passportID}" />
                    <div th:if="${#fields.hasErrors('passportID')}" th:errors="*{passportID}" class="form-errors"></div>
                    <p th:if="${customPassportError != null}" th:text="${customPassportError}" class="form-errors"></p>
                </div>

                <!-- Eye color -->
                <div>
                    <label for="eye_color">Eye color</label>
                    <select id="eye_color" th:field="*{eyeColor}">
                        <option th:each="color : ${colorEnum}" th:value="${color}" th:text="${color}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('eyeColor')}" th:errors="*{eyeColor}" class="form-errors"></div>
                </div>

                <!-- Hair color -->
                <div>
                    <label for="hair_color">Hair color</label>
                    <select id="hair_color" th:field="*{hairColor}">
                        <option th:each="color : ${colorEnum}" th:value="${color}" th:text="${color}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('hairColor')}" th:errors="*{hairColor}" class="form-errors"></div>
                </div>

                <!-- Nationality -->
                <div>
                    <label for="nationality">Nationality</label>
                    <select id="nationality" th:field="*{nationality}">
                        <option th:each="country : ${countryEnum}" th:value="${country}" th:text="${country}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}" class="form-errors"></div>
                </div>

                <!-- Location -->
                <fieldset>
                    <legend>Location</legend>

                    <!-- Location X -->
                    <div>
                        <label for="locationX">Location X</label>
                        <input type="number" id="locationX" th:field="*{location.x}" />
                        <div th:if="${#fields.hasErrors('location.x')}" th:errors="*{location.x}" class="form-errors"></div>
                    </div>

                    <!-- Location Y -->
                    <div>
                        <label for="locationY">Location Y</label>
                        <input type="number" step="0.01" id="locationY" th:field="*{location.y}" />
                        <div th:if="${#fields.hasErrors('location.y')}" th:errors="*{location.y}" class="form-errors"></div>
                    </div>

                    <!-- Location Name -->
                    <div>
                        <label for="locationName">Location Name</label>
                        <input type="text" id="locationName" th:field="*{location.name}" />
                        <div th:if="${#fields.hasErrors('location.name')}" th:errors="*{location.name}" class="form-errors"></div>
                    </div>
                </fieldset>
                <label th:if="${person.id == null}">
                    <input type="checkbox" th:field="*{canBeChanged}">
                    Can be changed
                </label>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div>
            <table class="table-container">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>passportID</th>
                    <th>Owner</th>
                    <th>Actions</th>
                </tr>
                </thead>
            </table>
            <div class="scroll-table-body">
                <table class="table-container">
                    <tbody>
                    <tr th:each="person1 : ${persons}">
                        <td th:text="${person1.id}"></td>
                        <td th:text="${person1.name}"></td>
                        <td th:text="${person1.passportID}"></td>
                        <td th:text="${person1.createdBy.username}"></td>
                        <td>
                            <div class="action-buttons">
                                <a th:href="@{/user/people/edit/{id}(id=${person1.id})}">Edit</a>
                                <form th:action="@{/user/people/delete/{id}(id=${person1.id})}" method="post" class="button-form">
                                    <button type="submit">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
</div>

</body>
<script type="text/javascript">
    var stompClient = null;

    function connect() {
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/updates', function (message) {
                showUpdate(message.body);
            });
        });
    }
    function showUpdate(message) {
        // Показываем уведомление
        Toastify({
            text: message,
            duration: 3000,
            gravity: "top",
            position: "right",
            backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
            onClick: function(){}
        }).showToast();
    }

    window.onload = function () {
        connect();
    };
</script>
</html>
