<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Forbidden</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <script th:src="@{/js/script.js}"></script>
</head>
<body>

    <div th:replace="fragments/common :: menu"></div>

<div>
    <h1>403 Forbidden</h1>
    <p class="error-message" th:if="${errorMessage}"></p>
        <p th:text="${errorMessage}"></p>
    <a th:href="@{/user}">Go Back Home</a>
    <div class="tree"></div> <!-- Минималистичное дерево -->
</div>

</body>
</html>