<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<button class="menu-btn"
        onclick="toggleMenu()"
        aria-label="Открыть меню">&#9776;</button>

<!-- Выдвижное меню -->
<div class="side-menu" id="sideMenu">
    <a href="#" th:href="@{/home}">Home</a>
    <a href="#" th:href="@{/user}">User</a>
    <a href="#" th:href="@{/user/visualization}">Visualization</a>
    <a href="#" th:href="@{/login}">Login</a>
    <a href="#" th:href="@{/register}">Register</a>
    <button type="button" class="side-menu-button" onclick="document.getElementById('logoutForm').submit();">Logout</button>
    <a href="#" th:href="@{/admin}" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Admin</a>
    <a href="#" th:href="@{/admin/admin-page}" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Admin Page</a>
    <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;"></form>
</div>
<div>
    <h1>Ошибка запроса</h1>
    <div class="error-message" th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>
    <div>
        <a href="/user" class="button">Вернуться на главную</a>
    </div>
</div>

</body>
</html> 