<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Forbidden</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <script th:src="@{/js/script.js}"></script>
    <th:block th:insert="~{fragments/common :: head('StudyGroup Visualization')}"></th:block>
</head>
<body>
<div th:replace="~{fragments/common :: menu}"></div>
<div>
    <h1>Ошибка конфликта</h1>
    <p th:text="${errorMessage}">Сообщение об ошибке</p>
    <a href="javascript:history.back()">Вернуться назад</a>
</div>
</body>
</html>