<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Thymeleaf Menu Example</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main-style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
    <div th:replace="fragments/common :: menu"></div>
<div class="content">
    <h1 th:text="${message}">Welcome</h1>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <h2>Register</h2>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" />
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" />
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
        <label>
            <input type="checkbox" th:field="*{wishToBeAdmin}">
            Wish to be Admin
        </label>
    </form>
</div>
</body>
</html>
